* {
	font-family: 'Fira Code', monospace;
}

body {
	padding: 5%;
	align-content: center;
	text-align: center;
}

label {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

input {
	text-align: center;
}

.dark-mode {
	background-color: #222;
	color: #e6e6e6;
	border-color: #e6e6e6;
}

input.dark-mode {
	background-color: #222;
	border-color: white;
	color: #e6e6e6;
	font-weight: bold;
}

.reveal-msg,
.finish-msg {
	font-size: 24px;
}

.role {
	font-weight: 900;
}

.dark-mode-btn {
	width: auto;
	height: auto;
	position: fixed;
	right: 10px;
	bottom: 10px;
}

#innocent {
	color: green;
}

#murderer {
	color: red;
}

#detective {
	color: skyblue;
}

#players {
	font-family: 'Indie Flower', cursive;
}