* {
	font-family: 'Fira Code', monospace;
}

body {
	padding: 5%;
	align-content: center;
	text-align: center;
}

dark-mode {
	background-color: black;
	color: whitesmoke;
}

label {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

.reveal-msg,
.finish-msg {
	font-size: 24px;
}

.role {
	font-weight: 900;
}

#innocent {
	color: green;
}

#murderer {
	color: red;
}

#detective {
	color: blue;
}

#players {
	font-family: 'Indie Flower', cursive;
}
