$dark-mode-font-color: #e6e6e6;
$dark-mode-background-color: #222;

$handwriting-font: 'Indie Flower', cursive;
$monospace-font: 'Fira Code', monospace;

$innocent-color: green;
$murderer-color: red;
$sheriff-color: blue;